body {

}

#buttons {
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
}

button {
    flex: 0 1 auto;
}

#board {
    display: flex;
    flex: 1 1 0;
}

.pixel {
    flex: 1 1 0;
    background-color: white;
    border: 2px;
    border-color: red;
    width: 100px;
    height: 100px;
}

.pixel.black {
    background-color: black;
}