body {

}

#buttons {
    display: flex;
    justify-content: space-around;
    flex: 1 0 auto;
}

button {
    flex: 0 1 auto;
}

#board {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    height: 1072px;
    width: 1072px;
}

.block {
    display: flex;
    width: 1072px;
    flex: 1 0 auto;
}

.pixel {
    flex: 1 1 0;
    background-color: white;
}

.pixel.black {
    background-color: black;
}